
<div class="body">
  <div class="winner" style="color:white;margin-top: 300px;margin-right: -200px;background: fuchsia;">
    <h2>Winner List  is :</h2>
    <ul>
      <li *ngFor ="let winner of winningAnimal">
          {{winner.animal}} ({{winner.timestamp | date: 'medium'}})
      </li>
    </ul></div>
  <div class="container">
    <div class="spinbtn" >spin</div>
    <div class="wheel">
      <div class="number" *ngFor="let obj of data; let i = index" [style]="{'--i':i + 1,'--clr':obj.color}">
         <span>{{obj.name}}</span></div> 
           <!-- <img src="/assets/rupee.png" height="20"> -->

    </div>

    <div style="margin-left: 900px;color: white;width: 100px;"><span>Timer :{{remainingTime}}</span></div>

    <div style="margin-top: 100px;" *ngFor="let value of data">
      <button [disabled]="isButtonDisabled" style="padding: 10px;background: blue;color: white;" (click)="getSingleData(value.id)">{{value.name}}</button>
    </div>
    
  </div>
  </div>
  


  <div class="modal" *ngIf="isDialogVisible"  tabindex="-1" role="dialog"  [ngStyle]="{'display':display}">
    <div class="modal-dialog" style="width: 30%;" role="document">
          <div class="modal-content" style="background: skyblue;">
                <div class="modal-header bg_blue">
                      <h4 class="modal-title color_yellow">Give Price</h4>
                      <button type="button" class="close" (click)="onCloseHandled()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
           <div class="modal-body" style="background: skyblue;">
            <form class="row" (ngSubmit)="submitForm($event)">
              <div class="mb-2 col-4">
              <label for="exampleInputEmail1" class="fw-bold form-label font">Name</label>
                <input type="text" name="name" disabled class="form-control font" [(ngModel)]="singleData.name" >
              </div>
              <div class="mb-2 col-4">
                <label for="1" class="fw-bold form-label font">Price</label>
                  <input type="number" disabled  name="price" class="form-control font" [(ngModel)]="singleData.price">
                </div>
              <div class="mb-2 col-4">
              <label for="1" class="fw-bold form-label font">User Price</label>
                <input type="number" name="userPrice" placeholder="Give your Price" class="form-control font" [(ngModel)]="inputValue">
              </div>
              <div class="mb-2 col-4">
                <button (click)="getButtonValue(100,$event)" style="padding: 0px 35px;"> +100 </button>
              </div>
              <div class="mb-2 col-4">
                <button (click)="getButtonValue(200,$event)" style="padding: 0px 35px;"> +200 </button>
              </div>
              <div class="mb-2 col-4">
                <button (click)="getButtonValue(300,$event)" style="padding: 0px 35px;"> +300 </button>
              </div>
              <div class="mb-2 col-4">
                <button (click)="getButtonValue(400,$event)" style="padding: 0px 35px;"> +400 </button>
              </div>
              <div class="mb-2 col-4">
                <button (click)="getButtonValue(500,$event)" style="padding: 0px 35px;"> +500 </button>
              </div>
              <div class="mb-2 col-4">
                <button (click)="getButtonValue(600,$event)" style="padding: 0px 35px;"> +600 </button>
              </div>
              <div class="mb-2 col-10">
                <label for="1" class="fw-bold form-label font" style="">Profit</label>
                <label for="1" class="d-block fw-bold form-label font" style="color: green; margin-top: -10px;"> {{(singleData.price * inputValue)-inputValue}}</label>
              </div>
              <div class="mb-2 col-2">
                <label for="1" class="fw-bold form-label font" style="">Loss</label>
                <label for="1" class="d-block fw-bold form-label font" style="color:red;margin-top: -10px;">{{inputValue}}</label>
              </div>
             
             <div class="modal-footer">
             <button type="button" class="btn btn-secondary" (click)="onCloseHandled()">Cancel</button>
             <button type="submit" class="btn btn-primary">Place Bet</button>
             </div>
       </form>
           </div>     
       </div>
   </div>
  </div>
  
 
  <!-- <script>
    let wheel = document.querySelector('.wheel');
    let spinbtn = document.querySelector('.spinbtn')
    let value = Math.ceil(Math.random() * 3600)
  
    spinbtn.onclick = function(){
      wheel.style.transform = "rotate(" + value + "deg)";
      value += Math.ceil(Math.random() * 3600)
    }
  </script> -->
  
   <!-- <div class="number" style="--i:1;--clr:#db7093;
      "><span>100</span></div>
       <div class="number" style="--i:2;--clr:#20b2aa;
       "><span>1</span></div>
       <div class="number" style="--i:3;--clr:#d63a92;
      "><span>50</span></div>
       <div class="number" style="--i:4;--clr:#daa520;
      "><span>0</span></div>
       <div class="number" style="--i:5;--clr:#ff340f;
      "><span>1000</span></div>
       <div class="number" style="--i:6;--clr:#ff7f50;
      "><span>10</span></div>
       <div class="number" style="--i:7;--clr:#3cb371;
      "><span>5</span></div>
       <div class="number" style="--i:8;--clr:#4169e1;
      "><span>20</span></div> -->